* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
   height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {  
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
    background: #EEEEEE;  
}

header {
    position: absolute;
    top: 10px;
    font-size: 2em;
}

header > h1 > .first-word {
    color: white;
    background: linear-gradient(to right, #57c1eb 0%,#246fa8 100%);;
    padding: 2px 5px;
    margin: 0;
}

.second-word {
    background-image: linear-gradient(to right, #57c1eb 0%,#246fa8 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
#form { 
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.25rem;
    position: fixed;
    bottom: 0;  
    left: 0; 
    right: 0; 
    display: flex;
    height: 3rem; 
    box-sizing: border-box; backdrop-filter: blur(10px); }

#input { 
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1; 
    border-radius: 2rem; 
    margin: 0.25rem; }

#input:focus { 
    outline: none; }
#form > button { 
    background: #333; 
    border: none; 
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fff; }

    #form > button:hover {
    background: white;
    color: #333;
}

.message-feed #messages{ 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}

#messages > li { 
    padding: 0.5rem 1rem;

}

#messages > li:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#messages > li:nth-child(odd) {
    background: #AFB3B0; } 

#typing {
    position: relative;
}

#wrapper {
    position: relative;
}
#online {
    border: solid black;
    padding: 0.7em;
    border-radius: 5em;
    position: fixed;
    width: 150px;
    top: 0;
    right: 0;
    color: white;
    background:black;
    margin-right: 2em;
    text-align: center;
    margin-top: 1.5em;
    
}

#online:hover {
    font-weight: bold;
}

.chat-container {
    min-width: 750px;
    max-width: 1000px;
    max-height: 800px;
    height: 75vh;
    background: #FFF;
    flex-grow: 1;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    overflow: auto;
 }
 